body{
    background-image:url("https://image.freepik.com/vector-gratis/fondo-pantalla-tema-patron-comida_18591-34750.jpg");
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
}
h1 {
    color:rgb(247, 1, 1);
}
img {
    width: 400px;
}
#thirdDiv{
    
    height: 600px;
    width: 500px;
    background-color: rgb(47, 120, 255);
    padding: 50px;
    border-color: rgb(130, 0, 0);
    border-style: double;
    border-width: 10px;
        
}
#thirdDiv:hover{
background-color: green;
}
#spanId{
    font-size: 18px;
    margin: 50px;
}
